*{
    margin: 0;
    padding: 0;
}
  .poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .poppins-bold {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  body{
    font-family: "Poppins", sans-serif;
  }
.cabecalho{
    background-color: #947c59c4;
    color:rgb(3, 12, 19);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 0;
}
.cabecalho-imagem{
width: 20%;
padding: 0 25px;

}
.div-cabecalho-logo{
    display: flex;
}
.cabecalho-lista-item {
    display: inline-block;
    margin: 0 20px;
    font-size: 24px
}
.cabecalho-titulo{
    padding: 20px 0;
}
.destino-imgagem{
    width: 220px;
}
.destino-icone{
    width: 24px; 
}
.destino-div{
    text-align: center;
    padding: 16px 0;
}